<p>
  <a href="{% url 'learning_logs:index' %}">Главная страница</a> -
  <a href="{% url 'learning_logs:topics' %}">Темы</a> -
  {% if user.is_authenticated %}
    Привет, {{ user.username }}.
  {% else %}
    <a href="{% url 'users:register' %}">Регистрация</a> -
    <a href="{% url 'users:login' %}">Войти</a>
  {% endif %}
</p>

{% block content %}{% endblock content %}

{% if user.is_authenticated %}
  <hr />
  <form action="{% url 'users:logout' %}" method='post'>
    {% csrf_token %}
    <button name='submit'>Выйти из учетной записи</button>
  </form>
{% endif %}