{% extends 'learning_logs/base.html' %}

{% block page_header %}
  <div class="p-3 mb-4 bg-light border rounded-3">
    <div class="container-fluid py-4">
      <h1 class="display-3">СHECK-ай обучение</h1>
      
      <p class="lead">Создай свой собственный ЖурналCHECK и веди журнал изучаемых тобой тем! Всякий раз, когда ты узнал что-то новое по теме - не забудь внести это в журнал.</p>

      <a class="btn btn-primary btn-lg mt-1"
          href="{% url 'users:register' %}">Зарегистрироваться &raquo;</a>
    </div>
  </div>
{% endblock page_header %}